* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    display: flex;
}

.left_panel {
    height: 100vh;
    width: 30vw;
    background-image: url(blue_red_zippers.jpg);
    background-size: 100vh;
    background-position: -180px;

    display: flex;
    align-items: center;
    flex-shrink: 0;
}


.logo {
    display: flex;
    height: 13vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #33333381;

}

.logo > p {
    font-weight: bolder;
    font-size: 3em;
    color: #FFF;
}

.logo > img {
    max-height: 13vh;
}

.right_panel {
  /*   border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding-top: 10em;
    background-color: rgb(231, 249, 255);
}

.right_panel > div {
    padding-left: 48px;
    padding-right: 20em;
    font-size: 20px;
    margin: 1em 0;
}

form {
 /*    border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.top_panel {
   /*  border: 1px solid pink; */

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}


.form_panel {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 3em;
    background-color: whitesmoke;
}

.form_panel > p {
    font-size: 20px;
}

.form_panel > div {
    display: flex;
    justify-content: start;
    gap: 4em;
}

.bottom_panel {
    display: flex;
    flex-direction: column;
    padding: 3em;
    gap: 10px;
    
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li {
    margin: 20px 0;
}

label {
    display: block;

}

input {
    width: 400px;
    padding: 0.2em;
    border-radius: 5px;
    border-style: none;
    border: 1px solid lightblue;
}

input:invalid {
    border: 2px solid red;
}

.italics {
    font-style: italic;
}

button {
    font-size: large;
    padding: .5em;
    width: 200px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 5px grey);
    background-color: blue;
    color: white;
    border-style: none;
}