* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2 / span 1;

    background-color: #f3e8ff;
}

.top {
    display: flex;
    gap: 20px;
    padding: 10px 30px;
}

.top input {
    flex: 1;
}

.top img {
    height: 30px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.display_name {
    display: flex;
}

.display_name img {
    height: 70px;
}

.sidebar {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: #9333ea;
}

.sidebar > div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    justify-content: start;
    padding-left: 10px;
}

.sidebar > div > img {
    height: 20px;
    filter: invert(99%) sepia(60%) saturate(2%) hue-rotate(13deg) brightness(109%) contrast(101%);
}

.sidebar > div > p {
    color: white;
    font-weight: bold;
}

#title_img {
    height: 40px;
}

.title p {
    align-self: center;
    font-size: larger;
}

.content {
    background-color: #e9d5ff;
}